/cyberGuard-extension/.env
/cyberGuard-extension/node_modules
/cyberGuard-extension/dist

/backend/.env
/backend/app/ml/trainedModels
/backend/__pycache__
/backend/app/__pycache__
/backend/app/ml/__pycache__
/backend/app/routes/__pycache__
/backend/app/ml/utils/__pycache__

/admin-dashboard/.env
/admin-dashboard/node_modules
/admin-dashboard/dist

/admin-dashboard/server/node_modules

**/__pycache__/
*.py[cod]

misc
